.logo {
  width: 50px;
  display: block;

  & img {
    width: 100%;
  }
}

.navbarBrand {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }

  & h1 {
    color: var(--secondary) !important;
    all: unset;
    font-weight: bold;
    font-size: 27px;
  }
}

.toggleThemeButton {
  width: 50px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50px;
  margin-right: 5px;
}

.toggleTheem {
  position: absolute;
  transition: all 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.iconBorder {
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 70px;
  justify-content: space-between;
  height: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.iconBorder_light {
  border: 1px solid #000;

}

.iconBorder_dark {
  background-color: #fff;
  border: 1px solid #fff;

}

a {
  transition: all 0.3s ease-in-out !important;

  &:hover {
    opacity: 0.6 !important;
  }
}

.navbar_dark {
  background-color: #000 !important;
  color: #fff !important;

  & * {
    color: #fff !important;
  }

  & h1 {
    color: #fff !important;
  }
}

.iconsBG {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.iconsBG_light {
  left: 5px;
  background-color: #000;
  border: 1px solid #fff;
  transform: translateX(0px);

}

.iconsBG_dark {
  right: 25px;
  background-color: #000;
  border: 1px solid #fff;
  transform: translateX(22px);
}

.allIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding-inline: 8px 6px;

  & svg {
    position: relative;
    z-index: 1000;
  }
}

